# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
.Python
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.nox/

# Cython debug symbols
cython_debug/

